.particlesJs {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.1);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  top: 0;
}

.information_box {
  margin-top: 10px;
  text-align: center;
  color-adjust: exact;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div > h1 {
    font-size: 3.5rem;
  }

  div > h2 {
    font-size: 1rem;
  }
}

.information_details {
  padding-bottom: 30px;
  background-color: rgba(73, 73, 73, 0.1);
  font-size: 1.3rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 25px;
  z-index: 0;
  .information_sub_title {
    background-color: black;
    color: white;
    padding: 7px 0;
    margin-bottom: 20px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

    select {
      background-color: black;
      color: red;
      border-radius: 25px;
      border: 2px solid red;
      font-size: 16px;
    }
    select:hover {
      background-color: white;
      color: black;
      border-color: white;
    }
  }
}

.grid_container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px;
  .grid-item {
    text-align: center;
    margin: 10px 5px 10px 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

    > div p {
      font-size: 1rem;
    }
    .big_number {
      margin: 9px 0 2px 0;
      font-size: 1.7rem;
      font-weight: 600;
    }
  }

  .grid-item-active {
    background-color: rgba(0, 0, 0, 0.096);
    border-radius: 25px;
    padding-top: 5px;
  }
}

.grid_chart_container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid_world_chart_container {
  display: grid;
  grid-template-columns: 100%;
}

.grid_chart_item {
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    width: 100%;
    height: auto;
  }
}

.grid_principal_container {
  display: grid;
  grid-template-columns: 32% auto;
  padding: 10px;
}

@media (max-width: 930px) {
  .information_box {
    div > h1 {
      font-size: 1.7rem;
    }
  }

  .grid_container {
    grid-template-columns: auto auto;
  }

  .grid-item {
    margin: 15px;
  }

  .grid_chart_container {
    grid-template-columns: auto;
  }

  .grid_chart_item {
    margin-top: 30px;
  }

  .grid_principal_container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }

  .modal_header {
    display: flex;
    justify-content: space-between;
    > h3 {
      font-size: 25px;
    }
  }

  .modal_content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    > img {
      height: auto;
      max-width: 100%;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 345px) {
  .grid_container {
    grid-template-columns: auto;
  }

  .grid-item {
    margin: 15px;
  }
}

//MODAL
.Modal {
  z-index: 3;
  position: absolute;
  height: 50%;
  top: 250px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #111;
  background: #111;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  color: white;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(172, 171, 171, 0.75);
}

.modal_header {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.modal_content {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  > img {
    max-height: 300px;
    width: auto;
  }
}
